.signupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 30% 50px 30%;
    padding: 50px;
    background: #fff;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.accountType {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.accountTypeButtons button {
    border-radius: 0;
    margin-right: 2px;
    width: 6rem;
    background-color: #99a6d2;
}

.accountTypeButtons button:hover {
    background-color: #4157a0;
}

.signupForm h1 {
    font-family: "Montserrat", sans-serif;
    color: #210124;
    font-size: 30px;
}

.signupForm input {
    width: 15rem;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(236, 236, 236);
}

.signupForm input:focus {
    outline: none;
    border-color: #4157a0;
    box-shadow: 0 0 5px #4157a0;
}

.submitSignupFormButton {
    width: 50%;
}